{% extends 'base-authentication.html' %}
{% load static %}

{% block home %}
    <a href="{% url 'create_article' %}" class="btn btn-primary mr-2">Create Article</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
            <tr>
              <td>{{ article.title }}</td>
              <td>
                <a href="{% url 'view_article' article.id %}" class="btn btn-primary mr-2">View</a>
                <a href="{% url 'update_article' article.id %}" class="btn btn-warning mr-2">Update</a>
                <a href="{% url 'delete_article' article.id %}" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}